# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Database
DATABASE_URL=""        

# Redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

# Node
NODE_ENV=""

# Next Public
NEXT_PUBLIC_BASE_URL=""

# JWT secret
JWT_SECRET_KEY=""

# Encryption
ENCRYPTION_KEY=""

# Staging/Production (Use real SMTP service)
SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM=""

# LinkedIn
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
LINKEDIN_REDIRECT_URI=""
